@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

:root {
  --color-white: #F5FEFF;
  --background: #0b0d10;
  --background25op: rgba(11, 13, 16, 0.25);
  --background50op: rgba(11, 13, 16, 0.5);
  --foreground: #F5FEFF;
  --main-color: #37b7c3;
  --second-color: #A9B5DF;
  --foreground-2: #5d6277;
    --foreground-2-alpha: rgba(93, 98, 119, 0.5);
  --hover-foreground-color: #a0b6ce;
  --hover-color: rgba(206, 215, 247, 0.5);
  --clip-bottom-left: polygon(0% 0%, 100% 0%, 100% 200%, 0% 90%, 0% 10%);
  --clip-top-left: polygon(2.5% 0%, 100% 0%, 100% 200%, 0% 100%, 0% 5%);
  --clip-top-line-left: polygon(90% 0%, 100% 0%, 100% 200%, 0% 100%, 0% 80%);
  --clip-top-right: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 0 100%);
  --clip-bottom-right: polygon(0 0, 100% 0, 100% 80%, 90% 100%, 0 100%);
  --clip-bottom-line-right: polygon(0 0, 100% 0, 100% 80%, 90% 100%, 0 100%);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Turret Road", sans-serif;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.imagefullindiv {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}